* {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./images/trnava-university-BEEyeib-am8-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: white;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    filter: blur(10px);
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

button {
    padding: 0.75rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
    border: none;
}

button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#new-book, #confirmBtn {
    color: white;
    background-color: rgb(92, 155, 92);
}

#new-book:hover, #confirmBtn:hover {
    background-color: rgb(49, 90, 49);
}

.remove {
    color: white;
    background-color: rgb(236, 86, 86);
}

.remove:hover {
    background-color: rgb(153, 48, 48);
}

#library {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.book {
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    color: black;
    background-color: bisque;
}

dialog {
    border: 1px solid gray;
    border-radius: 2rem;
    background-color: bisque;
}

form div {
    margin: 1rem;
}

input {
    border: 1px solid gray;
    border-radius: 2rem;
    padding: 5px 10px;
}